/* Body */

body{
	font-family: 'Poiret One', cursive;

}

html{
	box-sizing:box-boder;
	 scroll-behavior: smooth;
	 
}

.container{
	@include flexbox;
	flex-direction:column;
	width: 100vw; 
    overflow-x: hidden;
}

h1 {
            font-size: x-large;
        }

        p {
            margin-top: .5rem;
            margin-bottom:2rem;
        }

.content-wrapper {
	width:100vw;
    @include flexbox;
    flex-direction: column;
    justify-content:center;
    background: rgba(255,95,108,1);
background: -moz-linear-gradient(left, rgba(255,95,108,1) 25%, rgba(255,134,110,1) 54%, rgba(255,196,113,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(25%, rgba(255,95,108,1)), color-stop(54%, rgba(255,134,110,1)), color-stop(100%, rgba(255,196,113,1)));
background: -webkit-linear-gradient(left, rgba(255,95,108,1) 25%, rgba(255,134,110,1) 54%, rgba(255,196,113,1) 100%);
background: -o-linear-gradient(left, rgba(255,95,108,1) 25%, rgba(255,134,110,1) 54%, rgba(255,196,113,1) 100%);
background: -ms-linear-gradient(left, rgba(255,95,108,1) 25%, rgba(255,134,110,1) 54%, rgba(255,196,113,1) 100%);
background: linear-gradient(to right, rgba(255,95,108,1) 25%, rgba(255,134,110,1) 54%, rgba(255,196,113,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5f6c', endColorstr='#ffc471', GradientType=1 );}


