/*Header
======================================
*/

header {
    width: 100vw;
    display: inherit;
    flex-direction: column;

    

    nav {
        display: inherit;
        justify-content: flex-end;
        color:$White;

        ul {
            display: inherit;
            justify-content: space-around;
            list-style-type: none;

            li {
                padding: 2em;
                font-variant: all-petite-caps;
                cursor: pointer;
                letter-spacing: .2em;
    font-size: larger;
            }
        }
    }

    .header {
        height: 30rem;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        flex-direction: column;
        justify-content:center;
        @include flexbox;


        span {
            height: 50px;
            font-size:larger;
            margin-top:1em;
            letter-spacing: .2em;
            font-variant: all-petite-caps;
            color: $White;
           
        }

        h1 {
        	color:$Red;
            letter-spacing: .1em;
            text-shadow: 2px 2px 7px #373636;
            font-size:5em;
            font-weight: 900;
            font-variant: all-petite-caps;
            text-align:center;
            line-height:.8em;

        }
       .hire-button{
       margin-top:2rem;
       letter-spacing: .2em;
       	font-variant: all-petite-caps;
       	text-decoration:none;
       	color:$White;
       	border:solid .04em $White;
       	padding: .5em 1em;
       	border-radius: 2em;
       	font-size:1.2em;
       	cursor:pointer;
       }


    }
}