/*Mobile
======================================
*/

@media only screen and(max-width:480px){
	
	.skills{
	padding:0rem !important;
	}
	.skill{
	    width: 90% !important;
	    margin-top:1rem;
	}
	.latest-work{
	flex-direction:column;
	.work-content{
	width: 60%;
	}

	}
	.slide-container{
	width: 100%;
	}
	.prev, .next{
	margin-left:6rem;
	}
}