/*Skills
======================================
*/

.skills {
    @include flexbox;
    flex-direction: column;
    width: 100vw;
        height: auto;
        margin-bottom:2rem;

    .skills-description {
        width: 60vw;
        color: white;
    }

    .skill-content {
        width: 100vw;
        display: inherit;
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3rem;
        flex-wrap: wrap;

        .skill {
            width: 40%;
            text-align:center;
            height: 10rem;
    border-radius: .9em;
    background: white;
        }
    }
}
