/*General 
======================================
*/
/* normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  padding: 0;
  margin: 0; }

/*variables*/
/*neutral*/
/*body*/
/*Body
======================================
*/
/* Body */
body {
  font-family: 'Poiret One', cursive; }

html {
  box-sizing: box-boder;
  scroll-behavior: smooth; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden; }

h1 {
  font-size: x-large; }

p {
  margin-top: .5rem;
  margin-bottom: 2rem; }

.content-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #ff5f6c;
  background: -moz-linear-gradient(left, #ff5f6c 25%, #ff866e 54%, #ffc471 100%);
  background: -webkit-gradient(left top, right top, color-stop(25%, #ff5f6c), color-stop(54%, #ff866e), color-stop(100%, #ffc471));
  background: -webkit-linear-gradient(left, #ff5f6c 25%, #ff866e 54%, #ffc471 100%);
  background: -o-linear-gradient(left, #ff5f6c 25%, #ff866e 54%, #ffc471 100%);
  background: -ms-linear-gradient(left, #ff5f6c 25%, #ff866e 54%, #ffc471 100%);
  background: linear-gradient(to right, #ff5f6c 25%, #ff866e 54%, #ffc471 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5f6c', endColorstr='#ffc471', GradientType=1 ); }

/*Header
======================================
*/
header {
  height: 40rem;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column; }
  header nav {
    display: inherit;
    justify-content: flex-end;
    color: #fff; }
    header nav ul {
      display: inherit;
      justify-content: space-around;
      list-style-type: none; }
      header nav ul a {
        text-decoration: none;
        color: #fff; }
        header nav ul a:hover {
          transform: scale(1.2); }
        header nav ul a li {
          padding: 2em;
          font-variant: all-petite-caps;
          cursor: pointer;
          letter-spacing: .2em;
          font-size: larger; }
  header .header {
    height: 40rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    flex-direction: column;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    header .header span {
      height: 50px;
      font-size: larger;
      margin-top: 1em;
      letter-spacing: .2em;
      font-variant: all-petite-caps;
      color: #fff; }
    header .header h1 {
      color: #ff5f6c;
      letter-spacing: .1em;
      text-shadow: 2px 2px 7px #373636;
      font-size: 5em;
      font-weight: 900;
      font-variant: all-petite-caps;
      text-align: center;
      line-height: .8em; }

.hire-button {
  margin-top: 2rem;
  letter-spacing: .2em;
  font-variant: all-petite-caps;
  text-decoration: none;
  color: #fff;
  border: solid 0.04em #fff;
  padding: .5em 1em;
  border-radius: 2em;
  font-size: 1.2em;
  cursor: pointer; }
  .hire-button:hover {
    transform: scale(1.1); }

/*Skills
======================================
*/
.skills {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 25rem;
  margin-bottom: 2rem; }
  .skills .skills-description {
    width: 60vw;
    color: white; }
  .skills .skill-content {
    width: 100vw;
    display: inherit;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    flex-wrap: wrap; }
    .skills .skill-content .skill {
      width: 40%;
      text-align: center;
      height: 10rem;
      border-radius: .9em;
      background: white;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center; }
      .skills .skill-content .skill a {
        text-decoration: none;
        color: #66cccc; }

/*Work
======================================
*/
.latest-work {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30rem;
  margin: 5rem 0rem; }
  .latest-work .work-content {
    width: 40%;
    padding: 0rem 2rem;
    color: #fff;
    text-align: -webkit-center; }
    .latest-work .work-content a {
      text-decoration: none;
      border-radius: 1em;
      border: solid .09em white;
      padding: .5em 1em;
      color: white;
      cursor: pointer; }

/*slider*/
.slide-container {
  width: 60%; }

.slider {
  width: 100%;
  height: 325px;
  margin-top: 10px;
  overflow: hidden; }

.thumbs {
  position: relative;
  height: 100%;
  width: 1950px;
  transition: transform 2s; }

.thumbs div {
  width: 280px;
  height: 300px;
  margin: 10px;
  border-radius: 1em;
  background: #fff;
  float: left;
  position: relative;
  transition: all 2s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .thumbs div:nth-child(1n) {
    background-image: url(../images/projects/sculpture.JPG); }
  .thumbs div:nth-child(2n) {
    background-image: url(../images/projects/buildings.JPG); }
  .thumbs div:nth-child(3n) {
    background-image: url(../images/projects/dino.JPG); }

.prev,
.next {
  border: solid .1em white;
  width: 56px;
  height: 25px;
  margin-left: 4rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  background: none;
  color: #fff; }

.next {
  left: calc(100% - 40px); }

/*about
======================================
*/
.about {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 40rem;
  margin-bottom: 2rem; }
  .about .about-image {
    height: 20rem;
    width: 50%;
    background-image: url(../images/Header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain; }
  .about .about-content {
    width: 50%;
    text-align: -webkit-center;
    color: #fff; }
    .about .about-content .icons {
      width: 50%;
      display: flex;
      justify-content: space-evenly; }
      .about .about-content .icons i {
        font-size: 1.5em;
        color: #fff; }

/*contact
======================================
*/
.contact {
  width: 100vw;
  height: 10rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

/*Modal work
======================================
*/
#work {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  transition: 0.5s; }
  #work .work-content {
    width: 100vw;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column; }
    #work .work-content .project {
      margin-top: 5rem;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      flex-direction: row; }
      #work .work-content .project section {
        width: 50%; }
      #work .work-content .project .tittle {
        z-index: 99;
        height: 22rem;
        text-align: -webkit-center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: aliceblue;
        box-shadow: 2px 1px 7px black; }
        #work .work-content .project .tittle h1 {
          font-size: 3em;
          color: #ff5f6c; }
        #work .work-content .project .tittle p {
          padding: 0rem 1rem; }
      #work .work-content .project .work-img {
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      #work .work-content .project .one {
        background-image: url(../images/projects/buildings.JPG); }
      #work .work-content .project .two {
        background-image: url(../images/projects/sculpture.JPG); }

.more-projects {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  margin-top: 2rem; }
  .more-projects div {
    height: 20rem;
    width: 33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .more-projects div:nth-child(1n) {
      background-image: url(../images/projects/dino.JPG); }
    .more-projects div:nth-child(2n) {
      background-image: url(../images/projects/flower.JPG); }
    .more-projects div:nth-child(3n) {
      background-image: url(../images/projects/kid.JPG); }
    .more-projects div:nth-child(4n) {
      background-image: url(../images/projects/name.JPG); }
    .more-projects div:nth-child(5n) {
      background-image: url(../images/projects/carboncillo.JPG); }
    .more-projects div:nth-child(6n) {
      background-image: url(../images/projects/plato.JPG); }
    .more-projects div:nth-child(7n) {
      background-image: url(../images/projects/scultura.JPG); }
    .more-projects div:nth-child(8n) {
      background-image: url(../images/projects/line.JPG); }
    .more-projects div:nth-child(9n) {
      background-image: url(../images/projects/soul.JPG); }

.icon {
  margin: 1.5rem;
  margin-top: 2rem;
  display: block;
  text-align: -webkit-right;
  cursor: pointer; }
  .icon .bar1,
  .icon .bar2,
  .icon .bar3 {
    width: 40px;
    height: 2px;
    background: #000;
    margin: 6px 0;
    transition: 0.4s; }
  .icon .bar2 {
    background: none;
    font-variant: all-petite-caps;
    font-size: large;
    background: none;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -8px; }
  .icon:hover .bar1,
  .icon:hover .bar3 {
    background: #ff5f6c; }
  .icon:hover .bar1 {
    -webkit-transform: rotate(-20deg) translate(-9px, 6px);
    transform: rotate(-40deg) translate(-14px, 8px); }
  .icon:hover .bar2 {
    opacity: 0; }
  .icon:hover .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(40deg) translate(-9px, -8px); }

/*float style*/
.slideanim {
  visibility: hidden;
  visibility: visible\9;
  /*For old IE browsers IE6-8 */ }

.slideanim.slide {
  visibility: visible;
  animation: slide 1s; }

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
#scroll-top {
  display: none;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  background-color: #1F2833;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  padding: .2rem; }
  #scroll-top:hover {
    background-color: #ff5f6c; }

/*Mobile
======================================
*/
/*Mobile
======================================
*/
@media only screen and (max-width: 480px) {
  p {
    font-size: 1.5em; }

  h1 {
    font-size: 2em; }

  .skills {
    padding: 0rem !important; }
    .skills .skills-description {
      width: 80vw; }

  .skill {
    width: 90% !important;
    margin-top: 1rem; }

  .latest-work {
    flex-direction: column-reverse;
    margin: 10rem 0rem; }
    .latest-work .work-content {
      width: 60%; }

  .more-projects div {
    width: 50%; }

  /*image slider touch*/
  .slide-container {
    width: 100%;
    height: 323px;
    overflow-y: hidden;
    margin-bottom: 2rem; }
    .slide-container .prev,
    .slide-container .next {
      display: none; }

  .thumbs {
    width: max-content; }

  .ms-touch.slider {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* Hides the scrollbar. */
    -ms-scroll-chaining: none;
    /* Prevents Metro from swiping to the next tab or app. */
    -ms-scroll-snap-type: mandatory;
    /* Forces a snap scroll behavior on your images. */
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    /* Defines the y and x intervals to snap to when scrolling. */ }

  /*about*/
  .about {
    flex-direction: column; }
    .about .about-image {
      width: 100%;
      margin-bottom: 1rem; }
    .about .about-content {
      width: 90%; }
    .about .icons {
      justify-content: normal; }
      .about .icons a {
        font-size: x-large;
        padding: 0 .9rem; } }

/*# sourceMappingURL=style.css.map */
