/*General 
======================================
*/
/* normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  padding: 0;
  margin: 0; }

/*variables*/
/*neutral*/
/*body*/
/*Body
======================================
*/
/* Body */
body {
  font-family: 'Poiret One', cursive; }

html {
  box-sizing: box-boder;
  scroll-behavior: smooth; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

.content-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #ff3333;
  background: -moz-linear-gradient(left, #ff3333 23%, #f82b14 45%, #f6290c 51%, #db0f25 82%, #cc0033 100%);
  background: -webkit-gradient(left top, right top, color-stop(23%, #ff3333), color-stop(45%, #f82b14), color-stop(51%, #f6290c), color-stop(82%, #db0f25), color-stop(100%, #cc0033));
  background: -webkit-linear-gradient(left, #ff3333 23%, #f82b14 45%, #f6290c 51%, #db0f25 82%, #cc0033 100%);
  background: -o-linear-gradient(left, #ff3333 23%, #f82b14 45%, #f6290c 51%, #db0f25 82%, #cc0033 100%);
  background: -ms-linear-gradient(left, #ff3333 23%, #f82b14 45%, #f6290c 51%, #db0f25 82%, #cc0033 100%);
  background: linear-gradient(to right, #ff3333 23%, #f82b14 45%, #f6290c 51%, #db0f25 82%, #cc0033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3333', endColorstr='#cc0033', GradientType=1); }

/*Header
======================================
*/
header {
  width: 100vw;
  display: inherit;
  flex-direction: column; }
  header nav {
    display: inherit;
    justify-content: flex-end;
    color: #fff; }
    header nav ul {
      display: inherit;
      justify-content: space-around;
      list-style-type: none; }
      header nav ul li {
        padding: 2em;
        font-variant: all-petite-caps;
        cursor: pointer;
        letter-spacing: .2em;
        font-size: larger; }
  header .header {
    height: 30rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    flex-direction: column;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    header .header span {
      height: 50px;
      font-size: larger;
      margin-top: 1em;
      letter-spacing: .2em;
      font-variant: all-petite-caps;
      color: #fff; }
    header .header h1 {
      color: #ff3333;
      letter-spacing: .1em;
      text-shadow: 2px 2px 7px #373636;
      font-size: 5em;
      font-weight: 900;
      font-variant: all-petite-caps;
      text-align: center;
      line-height: .8em; }
    header .header .hire-button {
      margin-top: 2rem;
      letter-spacing: .2em;
      font-variant: all-petite-caps;
      text-decoration: none;
      color: #fff;
      border: solid 0.04em #fff;
      padding: .5em 1em;
      border-radius: 2em;
      font-size: 1.2em;
      cursor: pointer; }

/*Skills
======================================
*/
.skills {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-bottom: 2rem; }
  .skills .skills-description {
    width: 60vw;
    color: white; }
    .skills .skills-description h1 {
      font-size: x-large; }
    .skills .skills-description p {
      margin-top: .5rem; }
  .skills .skill-content {
    width: 100vw;
    display: inherit;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    flex-wrap: wrap; }
    .skills .skill-content .skill {
      width: 40%;
      text-align: center;
      height: 10rem;
      border-radius: .9em;
      background: white; }

/*Mobile
======================================
*/
/*Mobile
======================================
*/
@media only screen and (max-width: 480px) {
  .skills {
    padding: 0rem !important; }

  .skill {
    width: 90% !important;
    margin-top: 1rem; } }

/*# sourceMappingURL=style.css.map */
