/*variables*/

/*neutral*/
$White: #fff;
$Black: #1A1A1D;
$Gray: #4E4E50;

/*body*/
$DarkBlue:#1F2833;
$Pink:#993366;
$LightBlue:#E3E2DF;
$Red: #F30029;
$Orange:#F9521C;
$Yellow:#fedf3d;
$Blue:#66cccc;